@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
    background: #FAFAF9;
    color: #222;
    font-family: 'Sora', sans-serif;
    line-height: 1.5;
    background-attachment: fixed;
    background-size: 50px 50px;
    overflow-x: hidden;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}



/* Estilo para el contenedor principal */
.main {
    display: flex;
    justify-content: center; /* Centra el contenido (las tarjetas) horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Ocupa todo el alto de la ventana */
}

/* Estilo para las tarjetas */
.card {
    width: 45%; /* Ancho de la tarjeta */
    text-align: left; /* Alinea el texto a la izquierda */
    box-shadow: 0 0 50px rgba(39, 39, 39, 0.1); /* Sombra para la tarjeta */
    border-radius: 25px;
}
.card-interior{
    padding: 25px;
}

/* Estilo para la imagen */
.img {
    width: 100%; /* Hace que la imagen ocupe todo el ancho de la tarjeta */
    display: block; /* Hace que la imagen sea un bloque para poder centrarla */
    margin-left: auto; /* Junto con margin-right, centra la imagen */
    margin-right: auto;
    border-radius: 25px;
}

/* Estilo para el título de la tarjeta */
.card-title {
    margin-top: 5%;
    margin-bottom: 2%;
    font-weight: bold;
    font-size: x-large;
    
}

/* Estilo para la descripción de la tarjeta */
.card-description {
    font-size: larger;
    color: #7c7f6c;
}

.card-author{
    padding-inline: 25px;
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: large;
    color: #6C727F;
}

.button{
    border-radius: 20px;
    border-style: hidden;
    color: #883AE1;
    font-weight: bold;
    font-size: 15px;
    background-color: #E6D6FC;
    margin-top: 5%;
    padding-inline: 4%;
    padding-bottom: 1%;
    padding-top: 1%;

}

.linea-horizontal {
    border-top: 2px solid #E5EAF0; /* Espesor y color de la línea */
    width: 100%; /* Ancho de la línea */
}